body {
  margin: 0px;
}

h1 {
  font-family: cinzel;
  text-align: center;
  margin: 0px;
}

h2 {text-align: center;
}

header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  background-color: #D4726A;
}

nav {
  justify-content: space-around;
  display: flex;
  background-color: #AA4139;
}

nav > div:hover{
  background-color: #2B823A;
}

p {
  width: 80em;
  color: #222222;
  font-family: lemon_milk;
  color: #AA4139;
}

.placeholder{
  height: 151px;
}



@font-face {
font-family: cinzel;
src: url("../fonts/cinzel/Cinzel-Regular.otf");
}

@font-face {
  font-family: lemon_milk;
  src: url("../fonts/lemon_milk/LemonMilk.otf");
}

.color-primary-0 { color: #2B823A }	/* Main Primary color */
.color-primary-1 { color: #82C38D }
.color-primary-2 { color: #51A35F }
.color-primary-3 { color: #10621E }
.color-primary-4 { color: #00410B }

.color-complement-0 { color: #AA4139 }	/* Main Complement color */
.color-complement-1 { color: #FFB0AA }
.color-complement-2 { color: #D4726A }
.color-complement-3 { color: #801D15 }
.color-complement-4 { color: #550600 }
